
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#language-points{
  font-family: none;
  font-size: 60%;
  margin-left: -5%;
  letter-spacing: 1px
  /*text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;*/
}
 #language-points li{
   display:inline-block;
 }
 #language-points li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
#language-points li:first-child:before {
	content: '';
}

.bannerimage {
  background-image: url('profile-pic.jpeg');
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.bannerimageHover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%)
}

.bio {
  background-color: #FFFAFA;
  height: 200px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 100%;
  font-family: "Brush Script MT", cursive;
}

.BioWords {
  height: 150px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 85%;
  font-family: none;
  margin-left: 10%;
  margin-right: 10%
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 5%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: pink;
  font-size: 220%;
  transform: rotate(90deg);
  transform-origin: left top 0;
  letter-spacing: 60px;
  /*position: fixed;
  top: 25px;*/
}

.hero-text.Fixed {

}

.slogan {
  text-align: right;
  position: absolute;
  top: 1%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 350%;
  transform-origin: left top 0;
  letter-spacing: 3px;
  font-family: "Brush Script MT", cursive;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 2.2px;
}

.learnButton {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  top: 80%;
  left: 40%;
  color: none;
  background-color: transparent; /* Green */
  border: pink;
  color: black;
  border: 2px solid pink;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 20px;
  cursor: pointer

}
.learnButton:hover {
  #bannerimage: blue

}

.contact1 {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  top: 100%;
  left: 43%;
  color: none;
  background-color: transparent; /* Green */
  border: none;
  color: white;
  border: 2px solid pink;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 1000px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  cursor: pointer
}

.contact2 {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  top: 100%;
  left: 55%;
  color: none;
  background-color: transparent; /* Green */
  border: none;
  color: white;
  border: 2px solid pink;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 1000px;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  cursor: pointer
}

.project1image {
  margin-left: 12%;
  clear:right;
  float: top;
  margin:5px 2px 10px 15px;
}

.project2image {
  border:2px solid #000000;
  clear:right;
  float: top;
  margin:5px 2px 10px 15px;
}

.projects {
  height: 200px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 100%;
  font-family: "Brush Script MT", cursive;
  margin-left: 10%
}

.tableimg-static {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position:absolute;
  background: white;
}

.tableimg-static:hover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
  cursor: pointer;
  opacity:0
}

.project-des {
  height: 150px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 85%;
  font-family: none;
}

.table-back {
  background-color: #FFFAFA;
}

@media screen and (max-width: 1020px) {
  .bannerimage {
    height: 100vh;
    background-position: center;
  }

  .bio {
    height: auto;
  }

  .BioWords {
    height: auto;
    margin: auto;
    padding: 0;
    text-align: left;
    width: 85%;
  }

  .contact-buttons {
    margin-left: 20px;

  }

  .contact1 {
    left: 10%;
    margin-right: 20px;
  }

  .contact2 {
    left: 50%;
  }

  .extended-hero {
    height: 115vh;
  }

  .hero-text H1 {
    margin-top: 0;
  }

  #language-points {
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
  }

  .learnButton {
    font-size: 40px;
    height: 120px;
    left: 10%;
    top: 75%;
    width: 165px;
  }

  .project-table {
    height: auto;
    margin-bottom: 20px;
    width: 100%;
  }

  .project-table td {
    display: block;
    margin-top: 20px;
  }

  .project-table .BioWords {
    margin: auto;
    padding: 20px;
    width: 85%;
  }

  .projects {
    margin-left: 0;
    padding: 0;
  }

  .slogan {
    left: 35%;
    line-height: 32.2px;
    padding-left: 10%;
    text-align: left;
    top: 10%;
    width: 60%;
  }
}
